@model TeamProject.Models.ContactForm

@{
    ViewBag.Title = "Contact";
}
@section Styles{
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="~/Content/Contact.css" />
}
<h2>@ViewBag.Title</h2>
<h6>@ViewBag.Message</h6>
<hr />

<div class="container">
    <div class="row">
        <div class="column">
            <img src="~/Images/Contact/HQ.bmp" style="width:auto" />

            <address>
                <br />Omonoia 39<br />
                Athina 105 64, Greece<br />
                <abbr title="Phone">Phone:</abbr>
                801-11-BookYourCourt
            </address>

            <address>
                <strong>Fryni Boukouvala:</strong> <a href="mailto:fryniboukouvala@gmail.com">fryniboukouvala@gmail.com</a><br />
                <strong>Giorgos Xiros:</strong>   <a href="mailto:geo.xiros@gmail.com">geo.xiros@gmail.com</a><br />
                <strong>Giorgos Lymperopoulos:</strong> <a href="mailto:lympe7@hotmail.com">lympe7@hotmail.com</a><br />
                <strong>Giorgos Chaniotakis:</strong> <a href="mailto:haniotinho@gmail.com">haniotinho@gmail.com</a><br />
                <strong>Giorgos Kalomalos:</strong> <a href="mailto:giorgos.kalomalos@gmail.com">giorgos.kalomalos@gmail.com</a>
            </address>

        </div>

        <div class="column">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, "First Name", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Type your first name" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, "Last Name", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Type your last name" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, "Email", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Type your email" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SubjectSelector, "Subject", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(model => model.SubjectSelector, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SubjectSelector, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Body, "Body", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Body, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                    </div>
                </div>
                <input type="submit" value="Submit">
            }
        </div>
    </div>
</div>


