@model TeamProject.ModelsViews.BookingsSearchResult
@using TeamProject.Models
@{
    ViewBag.Title = "Bookings";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles
{
    <link rel="stylesheet" href="~/Content/book.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
}
<div class="row">
    @using (Html.BeginForm(FormMethod.Get))
    {
        @Html.HiddenFor(item => item.BranchId)
        @Html.HiddenFor(item => item.CourtId)
        @Html.HiddenFor(item => item.FromDate, new { utcvalue = Model.FromDate.ToString("yyyy-MM-dd") })
        @Html.HiddenFor(item => item.ToDate, new { utcvalue = Model.ToDate.ToString("yyyy-MM-dd") })
    }
    <nav class="col-2 sidenav">
        <ul class="list-group shadow-sm">
            @foreach (var court in Model.Courts)
            {
                <li court-id="@court.Id"
                    class="list-group-item d-flex justify-content-between align-items-center">
                    @court.Name
                </li>
            }
        </ul>
    </nav>

    <main class="col-10">
        <h1 class="bd-title">Bookings for <small class="text-muted" id="court-title"></small></h1>
        <div class="row timeslot-header">
            <div id="prev-week-btn" class="col-1"><i class="fas fa-arrow-circle-left"></i></div>
            <h3 id="timeslot-week" class="col text-lg-center"></h3>
            <div id="next-week-btn" class="col-1"><i class="fas fa-arrow-circle-right"></i></div>
        </div>
        <div id="data-container">
            <table class="table timeSlots">
                <tr>
                    <th></th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                </tr>
                @foreach (var item in Model.TimeslotApiViews)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hour)
                        </td>
                        <td>
                            @if (item.Day1 > 0)
                            {
                                @Html.ActionLink(item.Hour.ToString("hh\\:mm"), "Details", "Bookings", new { id = item.Day1 }, new { id = item.Day1 })
                            }
                            else if (item.Day1 == 0)
                            {
                                <div>Available</div>
                            }
                        </td>
                        <td>
                            @if (item.Day2 > 0)
                            {
                                @Html.ActionLink(item.Hour.ToString("hh\\:mm"), "Details", "Bookings", new { id = item.Day2 }, new { id = item.Day2 })
                            }
                            else if (item.Day2 == 0)
                            {
                                <div>Available</div>
                            }
                        </td>
                        <td>
                            @if (item.Day3 > 0)
                            {
                                @Html.ActionLink(item.Hour.ToString("hh\\:mm"), "Details", "Bookings", new { id = item.Day3 }, new { id = item.Day3 })
                            }
                            else if (item.Day3 == 0)
                            {
                                <div>Available</div>
                            }
                        </td>
                        <td>
                            @if (item.Day4 > 0)
                            {
                                @Html.ActionLink(item.Hour.ToString("hh\\:mm"), "Details", "Bookings", new { id = item.Day4 }, new { id = item.Day4 })
                            }
                            else if (item.Day4 == 0)
                            {
                                <div>Available</div>
                            }
                        </td>
                        <td>
                            @if (item.Day5 > 0)
                            {
                                @Html.ActionLink(item.Hour.ToString("hh\\:mm"), "Details", "Bookings", new { id = item.Day5 }, new { id = item.Day5 })
                            }
                            else if (item.Day5 == 0)
                            {
                                <div>Available</div>
                            }
                        </td>
                        <td>
                            @if (item.Day6 > 0)
                            {
                                @Html.ActionLink(item.Hour.ToString("hh\\:mm"), "Details", "Bookings", new { id = item.Day6 }, new { id = item.Day6 })
                            }
                            else if (item.Day6 == 0)
                            {
                                <div>Available</div>
                            }
                        </td>
                        <td>
                            @if (item.Day7 > 0)
                            {
                                @Html.ActionLink(item.Hour.ToString("hh\\:mm"), "Details", "Bookings", new { id = item.Day7 }, new { id = item.Day7 })
                            }
                            else if (item.Day7 == 0)
                            {
                                <div>Available</div>
                            }
                        </td>
                    </tr>
                }
            </table>

        </div>

        <div>
            @Html.ActionLink("Back to Branch", "Index", "Branches", new { id = Model.BranchId }, null)
        </div>
    </main>
</div>
@section scripts
{
    <script src="~/Scripts/moment.js"></script>
    <script>
        $(document).ready(function () {
            const dateFrom = moment($('#FromDate').attr('utcvalue'));
            const dateTo = moment($('#ToDate').attr('utcvalue'));

            $('#next-week-btn').on('click', function () {
                $('#FromDate').attr('value', dateFrom.add(7, 'days').format());
                $('#ToDate').attr('value', dateTo.add(7, 'days').format());
                $('form').submit();
            });

            $('#prev-week-btn').on('click', function () {
                $('#FromDate').attr('value', dateFrom.subtract(7, 'days').format());
                $('#ToDate').attr('value', dateTo.subtract(7, 'days').format());
                $('form').submit();
            });

            $('.sidenav').on('click', 'li', function () {
                $('#CourtId').attr('value', $(this).attr('court-id'));
                $('form').submit();
            });

            // set active courtId on side nav bar
            // and update header title
            const selectedCourtName = $('nav.sidenav li[court-id="' + @Model.CourtId + '"]')
                .addClass('active')
                .text()
            $('#court-title')
                .text(selectedCourtName);

            $('#timeslot-week')
                .text(
                dateFrom.format("DD/MM/YYYY") + ' - ' +
                dateTo.format("DD/MM/YYYY"));
        });

    </script>
}

