@model TeamProject.Models.Role

<li class="list-group-item d-flex justify-content-between align-items-center">
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Description)
    @Html.HiddenFor(m => m.IsNew, new { @class = "is-new" })
    @Html.HiddenFor(m => m.IsEnabled, new { @class = "is-enabled" })
    @Html.DisplayFor(m => m.Description)

    <input id="toggle-event" class="btn-enabled" type="checkbox" checked data-toggle="toggle">
</li>



