@model IEnumerable<TeamProject.ModelsViews.TimeslotApiView>

@{
    ViewBag.Title = "Time Slots";
}

<h2>TimeSlots <small class="text-muted">@ViewBag.Court.Name</small></h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.Court.Id })
</p>

<h2>Timeslots</h2>
<table class="table timeSlots">
    <tr>
        <th>Time</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr data-hour="@item.Hour">
            <td>
                @Html.DisplayFor(modelItem => item.Hour)
            </td>
            @for (var i = 1; i <= 7; i++)
            {
                var active = item[i] == null ? string.Empty : "active";
                var checkedIcon = item[i] == null ? "d-none" : "";
                var uncheckedIcon = item[i] == null ? "" : "d-none";

                <td data-day="@i">
                    <div data-id="@item[i]"
                         class="@active"
                         data-toggle="tooltip"
                         data-placement="top"
                         title="click to Add/Remove timeslot">
                        <i class="icon fa-3x far fa-square @uncheckedIcon"></i>
                        <i class="icon fa-3x fas fa-check-square @checkedIcon"></i>
                    </div>
                </td>
            }
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Back to Courts", "Index", "Courts", new { id = ViewBag.Court.BranchId }, null)
</div>

@section scripts{
    <script src="~/Scripts/moment.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $('.timeSlots td').on('click', 'div.active', function (e) {
                const timeslot = {
                        id: $(this).data('id')
                    }

                ajax(timeslot, $(this), 'remove');

            });

            $('.timeSlots td').on('click', 'div:not(.active)', function (e) {

                const hour = $(this).closest('tr').data('hour'),
                    timeslot = {
                        CourtId: @ViewBag.Court.Id,
                        Day: $(this).parent().data('day'),
                        Hour: hour,
                        Duration: 90
                    };

                ajax(timeslot, $(this), 'add');

            });

            function ajax(data, $timeslot, action) {
                $.ajax({
                    url: `/api/timeslots/${action}`,
                    type: "POST",
                    accepts: "application/json",
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    success: function () {
                        $timeslot.toggleClass('active');
                        $timeslot.find('i').toggleClass('d-none');
                    }
                });
            }
        });

    </script>
}
