@using TeamProject.Models;
@{
    User user = Session["user"] as User;
}
<ul class="navbar-nav ml-auto">
    @if (Session["user"] != null)
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Welcome, @user.Firstname!
            </a>
            <div class="dropdown-menu" id="Dropdown" aria-labelledby="navbarDropdown">
                @Html.ActionLink("Bookings", "Index", "UserBooking", new { area = "" }, new { @class = "dropdown-item" })
                <div class="dropdown-divider"></div>
                @Html.ActionLink("Logout", "Logout", "Login", new { area = "" }, new { @class = "dropdown-item" })
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">@Html.ActionLink("Join", "Join", "Join", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Sign in", "Index", "Login", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
    }
</ul>