<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Dashboard/dashboard.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    @Html.Partial("_NavBarPartial")
    <div class="container-fluid" id="dashboard">        
        <div class="row">
            <div class="col-md-2 sidebar">
                <div class="sidebar-items">
                    <div class="row">
                        <ul class="list-unstyled">
                            <li>  @Html.ActionLink("Branches", "Index", "Branches", new { area = "" }, new { @class = "dropdown-item" }) </li>
                            <li> @Html.ActionLink("Courts", "Index", "Courts", new { area = "" }, new { @class = "dropdown-item" }) </li>
                            <li>@Html.ActionLink("Facilities", "Index", "Facilities", new { area = "" }, new { @class = "dropdown-item" }) </li>
                            <li>@Html.ActionLink("Booking", "Index", "Booking", new { area = "" }, new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("TimeSlots", "Index", "TimeSlots", new { area = "" }, new { @class = "dropdown-item" }) </li>
                            <li> @Html.ActionLink("Users", "Index", "Users", new { area = "" }, new { @class = "dropdown-item" }) </li>
                            <li>@Html.ActionLink("Users Roles", "Index", "UserRoles", new { area = "" }, new { @class = "dropdown-item" }) </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- col-md-2 start (Sidebar) -->
            <!-- col-md-2 end (Sidebar) -->
            <!-- COL-MD-10 Breadcrump + List-Group start-->
            <div class="col-md-10">

                <!-- ROW:list-group start -->
                <div class="row">
                    <div class="col-md-12">

                        @RenderBody()

                    </div>
                </div>
            </div> <!-- COL-MD-10 Breadcrump + List-Group end-->
        </div><!-- ROW sidebar + main-content end -->
    </div><!-- end .container-fluid #dashboard-->



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
