@model TeamProject.Models.CourtTimeslots

@{
    ViewBag.Title = "Edit";
    var isAdmin = User.IsInRole("Admin");
}


@using (Html.BeginForm("Edit", "Courts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Court Edit</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Court.Id)

    @if (isAdmin)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Court.BranchId, "BranchId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BranchId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Court.BranchId, "", new { @class = "text-danger" })
            </div>
        </div>
    }
    else
    {
        @Html.HiddenFor(model => model.Court.BranchId)
    }
    <div class="form-group">
        @Html.LabelFor(model => model.Court.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Court.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Court.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Court.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Court.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Court.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Court.MaxPlayers, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Court.MaxPlayers, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Court.MaxPlayers, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Court.Price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Court.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Court.Price, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Court.ImageCourt, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="imagefile" />
            @Html.ValidationMessageFor(model => model.Court.ImageCourt, "", new { @class = "text-danger" })
        </div>
    </div>
    @Html.HiddenFor(model => model.Court.ImageCourt)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-secondary" />
        </div>
    </div>
</div>
}
<div>
    @Html.ActionLink("Back to Courts", "Index",new { id=Model.Court.BranchId })
</div>
<hr />
<h2>Timeslots</h2>
<table class="table timeSlots" >

    <tr>
        <th>Time</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
    </tr>

    @foreach(var item in Model.TimeslotApiViews)
    {
    <tr>
        <td>            
            @Html.DisplayFor(modelItem => item.Hour)
        </td>
        <td>
            @if (item.Day1 != null)
            {
                @Html.ActionLink(item.Day1.ToString(), "Edit", "Timeslots", new { id = item.Day1 }, new { @class = "btn btn-primary" })
            }

        </td>
        <td>
            @if (item.Day2 != null)
            {
                @Html.ActionLink(item.Day2.ToString(), "Edit", "Timeslots", new { id = item.Day2 }, new { @class = "btn btn-primary" })
            }
        </td>
        <td>
            @if (item.Day3 != null)
            {
                @Html.ActionLink(item.Day3.ToString(), "Edit", "Timeslots", new { id = item.Day3 }, new { @class = "btn btn-primary" })
            }
        </td>
        <td>
            @if (item.Day4 != null)
            {
                @Html.ActionLink(item.Day4.ToString(), "Edit", "Timeslots", new { id = item.Day4 }, new { @class = "btn btn-primary" })
            }
        </td>
        <td>
            @if (item.Day5 != null)
            {
                @Html.ActionLink(item.Day5.ToString(), "Edit", "Timeslots", new { id = item.Day5 }, new { @class = "btn btn-primary" })
            }
        </td>
        <td>
            @if (item.Day6 != null)
            {
                @Html.ActionLink(item.Day6.ToString(), "Edit", "Timeslots", new { id = item.Day6 }, new { @class = "btn btn-primary" })
            }
        </td>
        <td>
            @if (item.Day7 != null)
            {
                @Html.ActionLink(item.Day7.ToString(), "Edit", "Timeslots", new { id = item.Day7 }, new { @class = "btn btn-primary" })
            }
        </td>
    </tr>
    }

</table>
<div>
    @Html.ActionLink("Edit TimeSlots", "Index", "Timeslots", new { id = Model.Court.Id }, null)
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
